@use "sass:math";
// Toggle global options
$enable-shadows: true;

$blue: #1565D8;
$link-decoration: none;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;


$modal-inner-padding-y: 3rem;
$modal-inner-padding-x: 4rem; // 64px
$modal-inner-padding: math.div($modal-inner-padding-y, 2) $modal-inner-padding-x $modal-inner-padding-y;

$modal-header-border-width: 0;
$modal-footer-border-width: 0;

$modal-header-padding-y: $modal-inner-padding-y;
$modal-header-padding-x: $modal-inner-padding-x;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x math.div($modal-header-padding-y, 2);

$modal-footer-padding-y: $modal-header-padding-y;
$modal-footer-padding-x: $modal-inner-padding-x;

$modal-md: 490px;

$btn-padding-y-lg: 14px;
$btn-padding-x-lg: 20px;
$btn-font-size-lg: 1.125rem; // 18px
$btn-border-radius-lg: 8px;
$btn-font-weight: 700;

//Form
$form-label-margin-bottom: 0.75rem;
$form-label-font-size: 1rem;
$form-label-color: #5A7184;
$form-label-font-weight: 600;

$input-padding-y: 15px;
$input-padding-x: 20px;
$input-border-color: #C3CAD9;
$input-border-radius: 8px;

$btn-close-width: .75em;
$btn-close-height: $btn-close-width;
$btn-close-padding-x: 1em;
$btn-close-padding-y: $btn-close-padding-x;
$btn-close-color: #5A7184;
$btn-close-bg: url("data:image/svg+xml,<svg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.80469 5.75L9.53906 3.01562C9.89453 2.6875 9.89453 2.14062 9.53906 1.8125L8.9375 1.21094C8.60938 0.855469 8.0625 0.855469 7.73438 1.21094L5 3.94531L2.23828 1.21094C1.91016 0.855469 1.36328 0.855469 1.03516 1.21094L0.433594 1.8125C0.078125 2.14062 0.078125 2.6875 0.433594 3.01562L3.16797 5.75L0.433594 8.51172C0.078125 8.83984 0.078125 9.38672 0.433594 9.71484L1.03516 10.3164C1.36328 10.6719 1.91016 10.6719 2.23828 10.3164L5 7.58203L7.73438 10.3164C8.0625 10.6719 8.60938 10.6719 8.9375 10.3164L9.53906 9.71484C9.89453 9.38672 9.89453 8.83984 9.53906 8.51172L6.80469 5.75Z' fill='#{$btn-close-color}'/></svg>");
$btn-close-opacity: 1;
$btn-close-hover-opacity: .75;
